*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

body{
    background: #075e54;
    height:100vh;
    width:100%;
    justify-items: center;
    align-items: center;
}

.container{
    width: 80%;
    height:80%;
    background: rgba(255,255,255,0.1);
    border-radius: 8px; 
    margin:auto;
    overflow: hidden;
}

body::before{
    content: '';
    width:100%;
    height:100%;
    background: orangered;
    position:absolute;
    z-index: -1;
    clip-path: circle(40% at right 70%);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin:auto;
    padding:10px 0px;
}

nav .logo{
    font-size: 32px;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 3px;
    color:gold;
    transition: 0.5s;
}

nav .logo:hover{
    transform: scale(1.1);
    text-shadow: 10px 5px 5px red;
}

nav ul li{
    display: inline-block;
    margin:5px;
    transition: 0.5s;
}
nav ul li:hover{
    transform: scale(1.1);
    cursor:pointer;
    padding:5px;
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-weight: 700;
    font-size: 18px;
}
nav ul li a:hover{
    color:red

}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    height:100%;
    margin:auto
}

.content .text{
    color:white;
    width:40%;
    transition: 0.8s;
}
.content .text:hover{
    text-shadow: 0 0 10px gold;
    transform: scale(1.1);
}
h2::selection{
    background: red;
}
p::selection{
    background: navy;
}
.content .img{
    width:40%;
   
}
.content .img img{
    width:400px;
    transition: 0.8s;
}
.content .text p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 4px;
    margin:10px 0px
}
.content .text h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.content .img img:hover{
    transform: scale(1.1);
    cursor:pointer;
}

@media (min-width:500px) and (max-width:700px)
{
    .content .img img{
        width:180px
    }
    .content ,nav{
        flex-direction: column;
        justify-content: center;
    }
    .content .img{
        width:50%
    }
    .content .text{
        width:100%
    }
    body::before{
        clip-path: circle(50% at bottom);
    } 
}
@media (min-width:700px) and (max-width:1150px)
{
    .content ,nav{
        flex-direction: column;
        justify-content: center;
    }
    .content .img{
        width:50%;
    }
    .content .text{
        width:100%;
    }
    .content .img img{
        width:330px;
    }
    
}